

@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";


/* @plugin "@tailwindcss/typography"; */
/* @plugin "flowbite/plugin"; */
@plugin "tailwind-clamp" { minSize: 25rem;  maxSize: 80rem;}

@source "../node_modules/flowbite";

@import "./base/theme.css";

@import "./base/typography.css";

@utility container {
  @apply mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8;
}




@import "./base/global.css";
@import "./components/buttons.css";
@import "./components/forms.css";
@import "./components/carousels.css";
@import "./components/project-modal.css";